body {
  background: linear-gradient(to right, #c9d6ff ,#e2e2e2);
}

#contact_info {
  text-align: center;
}
#education {
  margin-left: 2%;
  margin-right: 2%;
}

#skills {
  margin-left: 2%;
  margin-right: 2%;
}
