body {
  background: linear-gradient(to right, #d3cce3 ,#e9e4f0);
}

#contact_info {
  text-align: center;
}
#education {
  margin-left: 2%;
  margin-right: 2%;
}

#skills {
  margin-left: 2%;
  margin-right: 2%;
}
