html {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  background-color: #333;
  text-align: center;
}

.navigation ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
       display: inline-block;
   }

.navigation li {
       float: left;
   }

.navigation  li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }

   /* Change the link color to #111 (black) on hover */
 li a:hover {
       background-color: #111;
   }
html {
      font-family: 'Raleway', serif;
}

    @media screen and (min-width: 480px) {

    }
    @media screen and (min-width: 620px) {

    }
    @media screen and (min-width: 810px) {

    }
